@import "tailwindcss";

@theme {
  --color-cream: #F6F1EB;
  --color-paper: #FDFBFA;

  --color-ink: #182027;
  --color-navy: #12131C;

  --color-pink: #D9BABF;
  --color-wine: #53374C;
  --color-blue: #B7CED6;
  --color-sage: #BAC6B0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  background-color: #f6f1f4;
  color: #182027;
}